.card-container {
  @include cardContainer();
  width: 70vw;
  pointer-events: none;
}

.options-container {
  @include cardContainer();
  width: 80vw;
}

.options-container > div {
  min-width: 70px;
  min-height: 70px;
}

.card {
  @include flexCenter;
  background-color: $emptyBoxBgColor;
  padding: 2px;
  text-align: center;
  font-size: 0.7rem;
  overflow: hidden;
}

.rows {
  @include flexCenter();
}
.rows > div {
  @include flexCenter();
  width: 72px;
  min-height: 80px;
  border: 1px solid #bbb;
  margin: 4px;
  text-align: center;
  color: #333333;
}

.rows > div.green {
  background: #5ac85a;
  border-color: #5ac85a;
}
.rows > div.grey {
  background: #a1a1a1;
  border-color: #a1a1a1;
}
.rows > div.yellow {
  background: #e2cc68;
  border-color: #e2cc68;
}
