nav {
  @include flexCenter();
  @include cardFont();
  font-size: 1.2rem;
  background-color: $navBarBgColor;
  border: 3px solid #33333383;
  border-radius: 15px 15px 0 0;
  margin-bottom: 3rem;

  ul {
    @include flexCenter();
    flex-direction: row;
  }

  li {
    list-style: none;
  }

  li a {
    text-decoration: none;
    margin: 0 1rem;
    font-weight: bold;
    color: $navTextColor;
  }

  li a span {
    color: $navIconsColor;
  }
}
