.question {
  text-align: center;
}

.position {
  @include flexCenter();
  margin: 0;
  padding: 0;
}

.position > div {
  @include flexCenter();
  width: 60px;
  @include cardFont();
  margin: 4px;
  color: #333333;
  padding: 0.3rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}
